In [4]:
i=1
while i<=5:
    print('hey bhai :',i)
    i+=1

hey bhai : 1
hey bhai : 2
hey bhai : 3
hey bhai : 4
hey bhai : 5

In [9]:
i = 5
while i>=1:
    print('model model')
    i-=1 # decrement

model model
model model
model model
model model
model model

In [13]:
i=1
while i<5:
    print('data sceice')
    j=0
    while j<4:
        print('evadra nuvvu')
        j+=1
    i+=1

data sceice
evadra nuvvu
evadra nuvvu
evadra nuvvu
evadra nuvvu
data sceice
evadra nuvvu
evadra nuvvu
evadra nuvvu
evadra nuvvu
data sceice
evadra nuvvu
evadra nuvvu
evadra nuvvu
evadra nuvvu
data sceice
evadra nuvvu
evadra nuvvu
evadra nuvvu
evadra nuvvu

In [24]:
i=1
while i<5:
    print('data sceice ' , end="") # nested while loop 
    j=0
    while j<=4:
        print(' evadranuvvu', end="")
        j+=1
    i+=1
    print()

data sceice  evadranuvvu evadranuvvu evadranuvvu evadranuvvu evadranuvvu
data sceice  evadranuvvu evadranuvvu evadranuvvu evadranuvvu evadranuvvu
data sceice  evadranuvvu evadranuvvu evadranuvvu evadranuvvu evadranuvvu
data sceice  evadranuvvu evadranuvvu evadranuvvu evadranuvvu evadranuvvu

In [26]:
# while loop usig some numbers
i=1
while i<=3:
    j=0
    while j<=2:
        print(i*j,end="")
        j+=1
    i+=1
    print()

012
024
036

# for loop

In [27]:
name= 'nit'

for i in name:
    print(i)

n
i
t

In [28]:
for i in range(1,5):
    print(i)

1
2
3
4

In [30]:
for i in range(1,10,4):
    print(i)

1
5
9

In [32]:
for i in range(1,21):
    if i%5==0:
        print(i)

5
10
15
20

In [34]:
for i in range (10,500):
    if i%10==0:
        print(i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490

In [36]:
for i in range (10,200):
    if i%10!=0:
        print(i)

11
12
13
14
15
16
17
18
19
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
61
62
63
64
65
66
67
68
69
71
72
73
74
75
76
77
78
79
81
82
83
84
85
86
87
88
89
91
92
93
94
95
96
97
98
99
101
102
103
104
105
106
107
108
109
111
112
113
114
115
116
117
118
119
121
122
123
124
125
126
127
128
129
131
132
133
134
135
136
137
138
139
141
142
143
144
145
146
147
148
149
151
152
153
154
155
156
157
158
159
161
162
163
164
165
166
167
168
169
171
172
173
174
175
176
177
178
179
181
182
183
184
185
186
187
188
189
191
192
193
194
195
196
197
198
199

In [38]:
x=int(input('how many chocaltes u want :?'))

i=1
while i<=x:
    print('chocolate')
    i+=1

how many chocaltes u want :? 3

chocolate
chocolate
chocolate

In [58]:
availabe_chocolate=5

x=int(input('how many chocaltes u want :?'))

i=1
while i<=x:
    if i>=availabe_chocolate:
        break
    print('chocolate')
    i+=1
print('no stock ')

how many chocaltes u want :? 10

chocolate
chocolate
chocolate
chocolate
no stock

In [49]:
availabe_chocolate=5

x=int(input('how many chocaltes u want :?'))

i=1
while i<=x:
    
    if i>availabe_chocolate:
        print('out of stock')
        break # is used to come ot lopp after contioned is met 
    print('chocolate')
    i+=1
    

print('no stock ')

how many chocaltes u want :? 10

chocolate
chocolate
chocolate
chocolate
chocolate
out of stock
no stock

In [44]:
for i in range(1,11):
    if i == 6:
       break 
    print(i)

1
2
3
4
5

In [51]:
for i in range(1,11): # continue it will exclude the 3 and print rest of the range 
    if i == 3:
        continue 
    print(i)

1
2
4
5
6
7
8
9
10

In [54]:

for i in range(1,51):
    if i%2 == 0:
        #print('even')
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [1]:
for i in range(1,5):
    if i<5:
        print("****")
        i+=1

****
****
****
****

In [15]:
for i in range(1,5):   # print the traingle pattern 
    if i<2:
        print("   *")
        i+=1
for i in range(1,5):
     if i<2:
        print("  * *")
        i+=1
for i in range(1,5):
    if i<2:
        print(" * * *")
        i+=1
for i in range(1,5):
    if i<2:
        print("* * * *")
        i+=1

   *
  * *
 * * *
* * * *

#forelse

In [17]:
nums =[12,15,18,21,26,30]

for i in nums:
    if i%5==0:
        print(i)

15
30

In [18]:
nums = [12,14,18,21,25,30,35]

for num in nums:
    if num % 5 == 0:
        print(num)

25
30
35

In [19]:
nums = [12,14,18,21,20,25] # if the contion statisfied brak the loop (come out of the loop)

for num in nums:
    if num % 3 == 0:
        print(num)  
        break

12

In [20]:
nums = [12,14,18,21,20,25] # if the contion statisfied brak the loop (come out of the loop)

for num in nums:
    if num % 3 != 0:
        print(num)  
        break

14

In [23]:
nums = [11,14,17,22,20,34] # if the contion statisfied brak the loop (come out of the loop)

for num in nums:
    if num % 3 == 0:
        print(num)  
        break
else:
    print('number not found ')

number not found

In [25]:
num = 16

for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
else:
    print('Prime Number')

Not prime Number

In [29]:
num=int(input('enter your number '))

for i in range(2,num):
    if num%i==0:
        print('not a prime number:',num)
        break
else:
    print('prime number ')

enter your number  10

not a prime number: 10