# tuple creation

In [25]:
tup1=() # empty tuple

In [26]:
tup2=(1,2,4,6,8,9,) # tuple of integer numbers

In [27]:
tup3=(10.1,12.3,14.4,30.4,50.5,80.1) # tup;e of float numbers

In [28]:
tup4=('str','mike','java','jake') # tuple of strimg

In [29]:
tup5=(10,20,30,(100.3,20.4)) # nested tuple

In [30]:
tup6=(100,'india',17.56)  # tuple of mixed datatypes

# Tuple indexing

In [31]:
tup2[0] # retreive first element of the tuple

1

In [32]:
tup4[0][1] # nested indexing - acess the second character of the first tuple element

't'

# tuple slicing

In [33]:
mytuple=('one','two','three','four','five','six','seven')

In [34]:
mytuple[1:] # return all elements from 1 st index

('two', 'three', 'four', 'five', 'six', 'seven')

In [35]:
mytuple[2:5] # return from second index to n-1 index which is fourth

('three', 'four', 'five')

In [36]:
mytuple[-3:] # return last three elemnts

('five', 'six', 'seven')

In [37]:
mytuple[:] # return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven')

# tuple is imutable which mean cannot changeable

In [38]:
del tup2

In [24]:
tup2

NameError: name 'tup2' is not defined

# loop trough a tuple

In [39]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [40]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven

In [41]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')

# tuple membership

In [42]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [43]:
'one' in  mytuple

True

In [44]:
'ten' in mytuple

False

In [46]:
if 'three' in mytuple:
    print('tree is present in my tuple' )
else:
    print('three is not in mytuple')

tree is present in my tuple

# index position

In [47]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [50]:
mytuple.index('five') # index of five is four

4

# sorting

In [51]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [52]:
sorted(mytuple,reverse =True)

['two', 'three', 'six', 'seven', 'one', 'four', 'five']